:root {
	--color-black: #3c3c3c;
	--color-white: #f5f5f5;
	--color-primary: #f58040;
	--color-primary-dark: #f5742f;
	--color-secondary: #6c757d;
	--color-success: #28a745;
	--color-success-light: #4fb667;
	--color-info: #17a2b8;
	--color-warning: #ffc107;
	--color-danger: #dc3545;
	--color-danger-dark: #c82333;
	--color-light: #f8f9fa;
	--color-dark: #343a40;
	--color-link: #007bff;
}

body,
.scrollable {
	scrollbar-gutter: stable;
	scrollbar-width: thin !important;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

a,
a:visited {
	color: var(--color-link);
	cursor: pointer;
	/* font-style: italic; */
	text-decoration: underline;
}

a:hover {
	color: var(--color-dark);
}
